go 1.19

use (
	.
	./microservice/buyback-service
	./microservice/cek-harga-service
	./microservice/cek-mutasi-service
	./microservice/cek-saldo-service
	./microservice/input-harga-service
	./microservice/input-harga-storage-service
	./microservice/topup-service
	./microservice/topup-storage-service
)
